body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.bg-primary-1 {
  background-color: #8190f1;
}

.navbar-link-logo {
  width: auto;
  height: 60px;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #f7e7fb;
}

.nav-link-item {
  color: white;
}

.nav-link-item:hover {
  color: #fb8500;
}
